@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
body {
  margin: 0px;
  font-family: "Padauk", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background: url("../img/devushka.jpg") center/cover;
}
header .head {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2%;
}
header .head .left_head {
  background: url("../img/lois_jeans.png") center/cover;
  width: 100px;
  height: 40px;
}
header .head .right_head {
  display: flex;
}
header .head .right_head a {
  text-decoration: none;
}
header .head .right_head a p {
  color: yellow;
  margin: 0px 10px;
  font-weight: bold;
  font-size: 20px;
}
header .head .right_head .y_line {
  width: 3px;
  height: 25px;
  background-color: yellow;
}
header .head_text {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .head_text h1 {
  color: #0a0a0a;
}

main {
  background-color: #dfd9dd;
}
main .sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 250px;
  padding-top: 50px;
}
main .sec1 h1 {
  font-size: 55px;
  font-weight: bold;
  margin: 20px 0px;
}
main .sec1 p {
  font-size: 20px;
}
main .sec2 {
  width: 100%;
  height: 60vh;
  background: url("../img/sec2.jpg") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 1px solid black;
}
main .sec2 .block {
  width: 100%;
  height: 60vh;
  position: absolute;
  background-color: #dfd9dd;
  transition: 1s;
}
main .sec2 .marquee marquee {
  font-size: 150px;
  transition: 1s;
}
main .sec2:hover .block {
  transition: 1s;
  opacity: 0;
}
main .sec2:hover marquee {
  transition: 1s;
  color: white;
}
main .sec3 {
  background: url("../img/sec3.jpg") top/cover;
}
main .sec4 {
  background: url("../img/sec4.jpg") center/cover;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
  background-color: #323232;
}
footer h1 {
  font-size: 20px;
  color: white;
}
footer .icons {
  font-size: 20px;
  margin: 0px 10px;
  color: white;
}

@media screen and (max-width: 821px) {
  main .sec1 h1 {
    font-size: 30px;
  }
  main .sec1 p {
    font-size: 15px;
  }
  main .sec2 .marquee marquee {
    font-size: 100px;
  }
}
@media screen and (max-width: 688px) {
  main .sec1 {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 519px) {
  header .head_text h1 {
    font-size: 20px;
  }

  main .sec2 .marquee marquee {
    font-size: 50px;
  }
}
@media screen and (max-width: 403px) {
  main .sec1 {
    padding: 0px 50px;
  }

  footer h1 {
    font-size: 15px;
  }
  footer .icons {
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  footer h1 {
    font-size: 12px;
  }
  footer .icons {
    font-size: 12px;
    margin: 0px 6px;
  }
}

/*# sourceMappingURL=style.css.map */
