@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');
body{
    margin: 0px;
    font-family: 'Padauk', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background: url('../img/devushka.jpg') center / cover;
    .head{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 2%;
        .left_head{
            background: url('../img/lois_jeans.png') center / cover;
            width: 100px;
            height: 40px;
        }
        .right_head{
            display: flex;
            a{
                text-decoration: none;
                p{
                    color: yellow;
                    margin: 0px 10px;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
            .y_line{
                width: 3px;
                height: 25px;
                background-color: yellow;
            }
        }
    }
    .head_text{
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: rgb(10, 10, 10);
        }
    }    
}
main{
    background-color: #dfd9dd;
    .sec1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 250px;
        padding-top: 50px;
        h1{
            font-size: 55px;
            font-weight: bold;
            margin: 20px 0px;
        }
        p{
            font-size: 20px;
        }
    }
    .sec2{
        width: 100%;
        height: 60vh;
        background: url('../img/sec2.jpg') center / cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-top: 1px solid black;
        .block{
            width: 100%;
            height: 60vh;
            position: absolute;
            background-color: #dfd9dd;
            transition: 1s;
        }
        .marquee{
            marquee{
                font-size: 150px;
                transition: 1s;
            }
        }
    }
    .sec2:hover .block{
        transition: 1s;
        opacity: 0;
    }
    .sec2:hover marquee{
        transition: 1s;    
        color: white;
    }
    .sec3{
        background: url('../img/sec3.jpg') top / cover;
    }
    .sec4{
        background: url('../img/sec4.jpg') center / cover;
    }
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    background-color: rgb(50, 50, 50);
    h1{
        font-size: 20px;
        color: white;
    }
    .icons{
        font-size: 20px;
        margin: 0px 10px;
        color: white;
    }
}
@media screen and (max-width:821px){
    main{
        .sec1{
            h1{
                font-size: 30px;
            }
            p{
                font-size: 15px;
            }
        }
        .sec2{
            .marquee{
                marquee{
                    font-size: 100px;
                }
            }
        }
    }
}
@media screen and (max-width:688px){
    main{
        .sec1{
            padding: 0px 100px;
        }
    }
}
@media screen and (max-width:519px){
    header{
        .head_text{
            h1{
                font-size: 20px;
            }
        }
    }
    main{
        .sec2{
            .marquee{
                marquee{
                    font-size: 50px;
                }
            }
        }
    }
}
@media screen and (max-width:403px){
    main{
        .sec1{
            padding: 0px 50px;
        }
    }
    footer{
        h1{
            font-size: 15px;
        }
        .icons{
            font-size: 15px;
        }
    }
}
@media screen and (max-width:350px){
    footer{
        h1{
            font-size: 12px;
        }
        .icons{
            font-size: 12px;
            margin: 0px 6px;
        }
    }
}